<?com.rumpel.common.com.rumpel.common.xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/user_database</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>


        <mapping class="com.rumpel.common.models.User"/>
        <mapping class="com.rumpel.common.models.Role"/>
        <mapping class="com.rumpel.common.models.Taste"/>
        <mapping class="com.rumpel.common.models.Product"/>
        <mapping class="com.rumpel.common.models.Shop"/>
    </session-factory>
</hibernate-configuration>